{% extends 'base.html' %}
{% load static %}

{% block content %}
{% load embed_video_tags %}
<h2>LT SAMBO YouTube</h2>
{% for i in obj %}
{% video i.video 'tiny' %}
{% endfor %}


    <div class ="container">

<h2>How to save Excavation Data</h2>

<div  ><ol>
  <li>Please log in to our homepage.<br>
      (홈페이지에 로그인 해주세요.)</li>
  <li>Please choose your current site.<br>
      (현재 소속된 현장을 골라주세요.)</li>
  <li>Click the "Update" button and start typing.<br>
      (Update 버튼을 눌러 입력을 시작해주세요.)</li>
  <li>Please fill up excavation data for each title.<br>
      (각각의 타이틀에 맞는 굴착 data를 입력해주세요.)</li>
  <li>Click the "Save" button.<br>
      (Sava 버튼을 눌러 저장해주세요.)</li>
  <li>If you want to edit or delete date, please click the "edit" or "delete" button.<br>
      (수정이나 삭제를 원하시면 각각의 버튼을 눌러주세요.)</li>
      </ol>


<h2>Why data accumulation is important?</h2>
    <i>In many industries, the value of data analysis is expending. <br>
        Cost and ability have made this an impossible area for<br>
        individuals and small businesses, but now is the time for anyone to accumulate and analyze data.<br>
        This data could be used in the future for automation,<br>
        algorithm development based on computer programming. In addition, these will contribute<br>
        significantly to the deployment of automation systems for LT SAMBO machine in the future.</i>
<br><br/>


<p><a>If you have any question, please contact BJ CHO by email(bjcho@ltsambo.co.kr) </a></p>
<p><a>질문사항이 있으시면 email을 통해서 연락주시면 됩니다.(bjcho@ltsambo.co.kr)  </a></p>
<br><br/>




<h5>Developer : BJ Cho, Ck Nah, MS Jung. LT EX Version1. </h5>


{% endblock %}