{% extends 'base.html' %}
{% load static %}

{% block content %}
<div >



<h2 >Learn how to save Excavation data</h2>
<div  ><ol>
  <li>First, log-in</li>
  <li>Click your own work site No.</li>
  <li>Click "Update" button.</li>
  <li>Fill up your excavation data accordingly.</li>
  <li>Click "Save" button.</li>
  <li>If need to delete or edit,Please click " Edit or Delete" buttons.</li>
      </ol>
<p><a>Any inquiry, please contact email bjcho@ltsambo.co.kr  </a></p>

<br><br/>

<h5 >Developer : BJ Cho, Ck Nah, MS Jung. LT EX Version1. </h5>

</div>

</div>

{% endblock %}